.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
:root {
  --color1: #207ab4;
  --color2: #3d92c7;
  --color3: #5baada;
  --color4: #78c2ec;
  --color5: #95daff;
  --color6: #b2e2ff;
  --color7: rgb(92, 92, 107);
  --color8: #ecf7ff;
  --color9: #ffffff;
}

body {
  background: linear-gradient(188deg, rgb(2, 0, 37), rgb(202, 202, 202));
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
